<div class="welcome-page">
  <mat-card class="welcome-page-card">
    <mat-card-header class="welcome-page-heder">
      <mat-card-title>Welcome to myFlix!</mat-card-title>
    </mat-card-header>
    <mat-card-actions class="welcome-page-card-actions">
      <button mat-raised-button (click)="openUserRegistrationDialog()" style="margin-right: 10px;" color="primary">
        <mat-icon>to_register</mat-icon>
        Sign Up
      </button>
      <button mat-raised-button color="primary" (click)="openUserLoginDialog()" style="margin-right: 10px;">
        <mat-icon>login</mat-icon>
        Login
      </button>
    </mat-card-actions>
  </mat-card>
</div>